.wrapper {
    width: 85%;
    margin: 0 auto;
    padding: 2.3rem 0;
    border-bottom: 1px solid #e8e8e8
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background: #fff;
    margin-bottom: 1rem;
    padding: 2rem 9.188rem 1.625rem 1.688rem;
    border: 1px solid #e8e8e8;
    border-radius: 4px;   
}

.category {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    color: #121212;
    opacity: 0.5;
}

.title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  color: #121212;
}

.author {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
  margin-bottom: 1.313rem;
}

button {
    cursor: pointer;
}

.actions {
    display: flex;
}

.actions button {
    font-family: 'Roboto Slab', sans-serif;
    border: none;
    background: transparent;
    font-size: 0.875rem;
    font-weight: 300;
    color: #4386bf;
}

.actions hr {
    border: none;
    border-left: 1px solid #e8e8e8; 
    margin: 0 1rem;
    height: 1.5rem;
}

.chapter {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-weight: 300;
  color: #121212;

}

.lesson {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: 0.438rem 6.813rem 0.25rem 3.688rem;
    color: #121212;
}

.update-progress {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    border: none;
    margin: 0.75rem 0 0.563rem 3.688rem;
    padding: 0.438rem 1.188rem 0.5rem 1.375rem;
    border-radius: 3px;
    background-color: #0290ff;
    color: #fff;
}